*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 1170px;
	margin: auto;
}
header{
	background: url("image3.jpg");
	height: 600px;
	-webkit-background-size: cover;
	background-position: center center;
	position: relative;
}
.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;
	position: relative;
	background-color: white;
	width:1200px;
	opacity: 0.5px;
}
.nav-area li{
	display: inline-block;
	float: left;
	width: 200px;
	height: 40px;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
.nav-area li a{
	color: black;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 36px;
	text-decoration: none;
	display: block;


}
.nav-area li a:hover{
	background: #fff;
	color: red;
	font-size: 40px;
	text-decoration: none;
}
.logo img{
	width: 100px;
	float: left;
	height: auto;
}
.welcome-text{
    position: absolute;
	width: 800px;
	height: 150px;
	margin: 20# 30#;
	text-align: center center;
	margin-top: 20%;
	float: left;
	margin-left:25%;

}
.welcome-text h1{
	text-align: center center;
	color: black;
	text-transform: uppercase;
	font-size: 60px;
	font-family: sans-serif;
	text-shadow: 2px 2px 8px white;
}
